$magenta : #D50475;
$naranja : #EB6504;
$amarillo : #FEED01;
$beige: #E2E1CF;
$negro: #6D4D45;
$blanco: #FFFFFF;
$gris: #7B7B7B;

.bg-magenta{
    background-color: $magenta;
}
.bg-naranja{
    background-color: $naranja;
}
.bg-amarillo{
    background-color: $amarillo;
}
.bg-beige{
    background-color: $beige;
}
.bg-negro{
    background-color: $negro;
}
.bg-blanco{
    background-color: $blanco;
}