.single-sedes{
    // background-color: red !important;
    width: 80%;
    margin: 0 auto;
    margin-top: $separacion;
    .informacion-sede{
        background-color: lighten($color: $beige, $amount: 10);
        border-radius: $separacion;
        padding: $separacion*2;
        box-sizing: border-box;
        filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.192));
    }
    .contenido-sedes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $separacion*2;

        @include tablet{
            margin-top: 100px;
            display: flex;
            flex-direction: column;
        }
    }
    .telefono-sede{
        background-color: $amarillo;
        color: $negro;
        border-radius: $separacion;
        padding: $separacion*.5 $separacion*1.5;
        margin: $separacion 0;
        display: inline-block;
        // font-size: 200px;
    }
    h1{
        color: $magenta;
    }
    p{
        margin: 0;
    }
    img{
        border-radius: $separacion !important;
        width: 100% !important;
        height: auto !important;
    }
    figure{
        padding: $separacion 0;
        margin: 0 !important;
    }
}