.post-sedes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $separacion*2;

   @include tablet{
       margin-top: 100px;
       display: flex;
       flex-direction: column;
    //    justify-content: center;
   }

    .post-item{
        background-color: lighten($color: $beige, $amount: 10);
        border-radius: $separacion;
        transition: .2s ease-in-out;

        .imagen{
            height: 200px;
            overflow: hidden;
        }

    }
    h2{
        margin: 0;
        padding: 0;
        color: $naranja;
        font-weight: 300;
        // font-size: $separacion*1.8;
    }
    img{
        max-width:100%;
        height:auto;
        border-radius: $separacion;

        @include tablet{
            border-radius: $separacion $separacion 0 0;
        }
    }
}