.footer{
    .secciones-footer{
        @include d-grid(3, $separacion);

        @include phone {
            @include d-grid(1,$separacion*2)
        }
    }
    .footer-marketi{
        background-color: darken($color: $negro, $amount: 10);
        color: lighten($color: $negro, $amount: 20);
        p{
            @include phone {
                text-align: center;
            }
        }
        .marketi-logo{
            transition: .2s ease-in-out;
            display: flex;
            justify-content: center;

            &:hover{
                transform: scale(1.06);
            }
        }
        @include phone{
            flex-direction: column;
            align-items: center;
            gap: $separacion;
        }
    }
    .logos-footer{
        .icono{
            color: white;
            width: 30px;
            height: 30px;
            margin: 0 10px;
        }
        
    }
}