.redes-sociales{
    background-color: $amarillo;
    position: absolute;
    position: fixed;
    top: 30%;
    // width: 60px;
    right: 10px;
    z-index: 100000;
    box-shadow: 0px 3.3772px 42.215px rgba(0, 0, 0, 0.3);
    
    .iconos-redes{
        transition: .2s ease-out;
        &:hover{
            transform: scale(1.2);
        }
        .icono {
            font-size: $separacion*2;
        }
    }
    @include phone{
        display: none;
    }
}