.smart-Bar{
    width: 100wh;
    padding: $separacion;

    .logo-ifood{
        img{
            width: 20%;
            // max-height: 30px;
        }
    }
    .icono-telefono{
        width: 20px;
    }
}