.informacion-producto{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
    margin: 1rem 0;

    @include tablet{
        margin-top: 100px;
        flex-direction: column;
        gap: $separacion;
        align-items: flex-start;
    }

    .vegetariano{
        background-color: rgb(23, 170, 23);
    }
}
.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $separacion*1.5;

    @include tablet{
        display: flex;
        flex-direction: column;
    }

    img{
        width: 100%;
        height: auto;
        border-radius: $separacion;
        filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.205));
    }
    p{
        text-align: left !important;
    }
}